/src/Drone/nbproject/private/
/src/Drone/build/
**/.DS_Store

/src/Drone2.0/nbproject/private/
/src/Drone2.0/dist/
/src/Drone2.0/build/
/src/LeapMotion/build/
/src/LeapMotion/nbproject/private/
/src/Drone2.0/lib/LeapMotion/build/
/src/Drone2.0/lib/LeapMotion/nbproject/private/
